{% extends "base.html" %}
{% block content %}
<section id="error" class="min-vh-100">
  <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container">
        <img src="{{url_for('static',filename='logo.png')}}" width="194" height="66">
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
        <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/dashboard"> Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin"> Admin Dashboard</a></li>
              {%if not logged_in %}
                <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
              {% endif %}
            </ul>
            {%if logged_in %}
            <a class="btn btn-primary shadow" role="button" href="/logout">Logout</a>
            {% else %}
            <a class="btn btn-primary shadow" role="button" href="/admin-login">For Admin</a>
            {% endif %}
        </div>
    </div>
</nav>

  <div id="alert" style="margin-top:200px;">
  <div class="alert alert-success text-center" role="alert">
  {{success_msg}}
  </div>
</div>  

<div>
  <div class="row container container-flex">
    <div class="col text-center ">
      <a href="{{return_route}}" class="btn btn-primary mx-auto">Go Back!</a>
    </div>
  </div>
</div>
</section>
{% endblock %}